@font-face {
	font-family: 'Futura PT';
	src: url('FuturaPTDemi.otf') format('opentype');
	font-weight: medium;
  font-style: normal;
}

body {
    font-family: 'Futura PT';
}

a { 
    text-decoration: none;
}


.container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    display: flex;
}

.nav {
    width: 300px;
    height: 100%;
    background-color: #272727;
}

.content {
    height: 100%;
    width: 85%;
    max-width: 1200px;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #272727;
}



.profile-img-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}

.profile-img {
    height: 225px;
    margin: auto;
}

.title {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}

.about-title {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 50px;
}

.about-subtitle {
    margin-left: 50px;
}

.about-section {
    width: 100%;
}

.about-section-title {
    font-size: 25px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.generic-subtitle {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
}

.subsection-container {
    width: 80%;
    margin-left: 50px;
}

.subsection-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.subsection-title {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
}

.subsection-box {
    width: 450px;
    height: 225px;
    background-color: white;
    box-shadow: 0px 3px 8px rgba(0,0,0,.16);
}

.subtitle {
    color: lightgrey;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.nav-items {
    padding-left: 51px;
    padding-top: 20px;
}

.nav-item {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    transition: all .5s ease-in-out;
}

.nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all .5s ease-in-out;
}

.experience-card {
    width: 90%;
    min-height: 200px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 3px 8px rgba(0,0,0,.16);
    position: relative;
}

.experience-card-top {
    width: 96%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.experience-description {
    width: 96%;
    height: 75px;
    padding: 20px;
    padding-top: 10px;
    letter-spacing: .15px;
}

.experience-card-top img {
    width: 200px;
}

.experience-card-subtitle {
    height: 35px;
    width: 250px;
    text-align: right;
    font-size: 15px;
}

.experience-date {
    font-size: 12px;
    width: 120px;
    color: #AAA;
    float: right;
    letter-spacing: .5px;
}

.experience-project-title {
    font-size: 20px;
    padding-left: 20px;
}

.experience-projects-container {
    padding: 10px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.project-card {
    width: 315px;
    height: 125px;
    border: solid 1px lightgrey;
    display: flex;
    transition: all .5s ease-in-out;
}

.project-card:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0,0,0,.16);
}

.project-card:hover .project-card-image-container img {
    transform: scale(1.1);
}

.project-card-image-container {
    height: 125px;
    width: 124px;
    margin-left: -1px;
    margin-top: -1px;
    border: solid 1px lightgrey;
    background-color: #1C1A1A;
    overflow: hidden;
    
}

.project-card-image-container img {
    height: 125px;
    width: 125px;
    transition: all .5s ease-in-out;
}

.project-card-description-container {
    height: 125px;
    width: 190px;
}

.project-card-title {
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: .5px;
    width: 100%;
    padding-left: 10px;
}

.project-card-description {
    font-size: 12px;
    color: #3c3c3c;
    padding: 8px 10px 10px 10px;
}

.view-title {
    padding: 20px 0 0 55px;
    font-size: 30px;
    margin-bottom: -5px;
}

.second {
    padding-top:0px; 
    width: 65.5%;
}

.twothirds {
    width: 66%;
}

.onethird {
    width: 33%;
}

.img-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 5px 40px;
}

#jcilogo {
          width: 100px;
      }

#javaimg {
    height: 60px;
}

#cimg {
    height: 70px;
}

#csharpimg {
    height: 58px;
    margin-top: 7px;
}

#htmlimg {
    height: 70px;
    margin-right: 37px;
}

#pythonimg {
    height: 68px;
    margin-left: 10px;
}

#springimg {
    height: 45px;
}

#nodeimg {
    height: 50px;
}

#reactimg {
    height: 60px;
}

#netimg {
    height: 45px;
}

#bootstrapimg {
    height: 60px;
    margin-top: -5px;
}

#mysqlimg {
    height: 70px;
}

#mongoimg {
    height: 60px;
}

#loraimg {
    height: 50px;
    margin-top: 10px;
}

#mbedimg {
    margin-bottom: 10px;
    height: 65px;
}

#awsimg {
    height: 60px;
    
}

.blank {
    height: 50px;
    width: 50px;
    background-color: white;
}

.interests-container {
    width: 80%;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.interest-box {
    width: 275px;
    height: 300px;
    background-color: white;
    position: relative;
    box-shadow: 0px 3px 8px rgba(0,0,0,.16);
}

.interest-box:hover {
    cursor: pointer;
}

.interest-top {
    height: 70%;
    overflow: hidden;
}

.interest-bottom {
    height: 30%;
    text-align: center;
    font-size: 22px;
    line-height: 90px;
}

.bg-img {
    margin-left: 0px;
    position: absolute;
    height: 210px;
    width: 275px;
    z-index: 1;
}

.nixie-img {
    position: absolute;
    height: 210px;
    width: 275px;
    z-index: 1;

}
.hover-gif {
    z-index: 999;
}

.ironride-logo {
    margin-top: 12px;
    height: 40px;
}

.project-nav {
    width: 700px;
    position: absolute;
    display: flex;
    top: 28;
    right: 20;
    justify-content: space-between;
}

.project-nav-item {
    width: 150px;
    text-align: center;
    color: #969696;
    transition: all .5s ease-in-out;
}

.project-nav-item:hover {
   color: #272727; 
   cursor: pointer;
}

.active {
    color: #272727;
}

.project-container {
    width: 1000px;
    height: 89%;
    margin-left: 55px;
    margin-top: 30px;
    overflow: scroll;
    position: absolute;
    z-index: 1;
}

.project-box {
    height: 360px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid 1px #d6d6d6;
    box-shadow: 0px 3px 8px rgba(0,0,0,.1);
    float: left;
    position: relative;
    display: none;
}

.project-box:hover {
    cursor: pointer;
}

.project-title {
    width: 269px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    padding-left: 30px;
    background-color: white;
    border-bottom: solid 1px #d6d6d6;
}

.project-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    overflow:hidden;
}

.webscraper-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow:hidden;
}

.moena-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.quill-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.shuttle-img {
    width: 100%;
    height: 220px;
    margin-top: -40px;
    object-fit: cover;
}

.project-description {
    width: 90%;
    height: 90px;
    background-color: white;
    border-top: solid 1px #d6d6d6;
    padding: 5%;
    font-size: 14px;
}

.yfi-img {
    height: 50px;
    margin-top: 5px;
    margin-left: -15px;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .nav {
          display: none;
      }

      .content {
          width: 100%;
      }

      .experience-card {
          width: 95%;
      }

      .view-title {
          margin-top: 100px;
          z-index: 999;
          position: relative;
      }

      .experience-card-top {
          height: 70px;
      }

      .experience-card-top img {
          width: 350px;
      }

      .experience-projects {

      }

      .experience-card-subtitle {
          width: 300px;
          font-size: 20px;
      }

      .experience-date {
          font-size: 18px;
          width: 150px;
      }

      .experience-description {
          font-size: 20px;
      }

      .experience-project-title {
          margin-top: 40px;
          font-size: 30px;
      }

      .project-card {
          transform: scale(2.5, 1);
          margin: auto;
          margin-bottom: 10px;
      }

      .experience-projects-container {
          margin-top: 280px;
          display: block;
          transform: scale(1, 2.25);
          height: 400px;
      }

      .second {
          width: 100%;
          margin-top: 500px;
          margin-left: -10px;
      }

      .twothirds {
          width: 100%;
      }

      

      .mobile-nav {
          position: fixed;
          width: 100%;
          height: 125px;
          background-color: #272727;
          z-index: 999;
      }

      .mobile-menu {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 998;
          display: none;
          background-color: #272727;
      }

      .mobile-menu:first-child {
          margin-top: 125px;
      }

      .mobile-menu-item {
          width: 100%;
          height: 175px;
          text-align: center;
          color: white;
          font-size: 70px;
      }

      .mobile-title {
          color: white;
          font-size: 60px;
          margin-top: 20px;
          margin-left: 50px;

      }

      .nav-button-container {
          float: right;
          position: fixed;
          top: 40px;
          right: 120px;
      }

      .spanContainer{
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
        background: transparent;
        position: absolute;
        transition: all 1s;
    }

    .spanContainer:hover {
        cursor: pointer;
    }

    .divsForNavBar{
        margin-left: 2.5px;
        margin-top: 9px;
        width: 40px;
        border: solid 2px white;
        transition: all 1s;
    }
    .divsForNavBarHiddenOne{
        position: absolute;
        width: 40px;
        margin-top: -4px;
        margin-left: 2.5px;
        border: solid 2px white;
        border-radius: 5px;
        transition: all 1s;
    }
    #firstNavbarLine{
        transition: all .5s;
    }
    #secondNavbarLine{
        transition: all 1s;
    }
    #thirdNavbarLine{
        transition: all .5s;
    }



    

      #kmdevelopment {
          height: 1900px;
      }

      #kioware {
          height: 1300px;
      }

      #jci {
          height: 700px;
      }

      #jcilogo {
          width: 200px;
      }

      .about-title {
          margin-top: 250px;
          font-size: 75px;
      }

      .about-subtitle {
          font-size: 30px;
          width: 90%;
      }

      .generic-subtitle {
          margin-top: 75px;
          font-size: 50px;
      }

      .interests-container {
          display: block;
          width: 90%;
      }

      .interest-box {
          width: 880px;
          height: 800px;
          margin: auto;
          margin-bottom: 50px;
      }

      .nixie-img,
      .bg-img {
          width: 880px;
          height: 560px;
      }

      .onethird {
          margin-left: 300px;
      }
    

      .interest-bottom {
          font-size: 60px;
          line-height: 240px;
      }

      /* Remove scaling effect on mobile */
      .project-card:hover .project-card-image-container img {
            transform: scale(1);
        }

        .project-container {
            margin: auto;
            width: 100%;
            position: relative;
            display: block;
            margin-top: 100px;
        }

        .project-box {
            height: 900px;
            width: 850px;
            border: solid 1px #d6d6d6;
            box-shadow: 0px 3px 8px rgba(0,0,0,.1);
            display: none;
            
            margin: auto;
            margin-bottom: 75px;
            float: none;
        }

        .project-box:hover {
            cursor: pointer;
        }

        .project-title {
            width: 820px;
            height: 120px;
            line-height: 60px;
            font-size: 30px;
            padding-left: 30px;
            background-color: white;
            border-bottom: solid 1px #d6d6d6;
        }

        .project-img {
            width: 100%;
            height: 500px;
            object-fit: contain;
            overflow:hidden;
        }

        .ironride-logo {
            height: 100px;
        }

        .webscraper-img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            overflow:hidden;
        }

        .moena-img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        .quill-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .shuttle-img {
            width: 100%;
            height: 220px;
            margin-top: -40px;
            object-fit: cover;
        }

        .project-description {
            width: 90%;
            height: 200px;
            background-color: white;
            border-top: solid 1px #d6d6d6;
            padding: 5%;
            font-size: 35px;
        }

        .yfi-img {
            height: 50px;
            margin-top: 5px;
            margin-left: -15px;
        }
}
