<html>
<body>
    <div class="about-title">Hi, I'm Kyle</div>
    <div class="about-subtitle">I run KM Development, a software company that specializes in web and mobile applications</div>

    <div class="generic-subtitle">I like</div>

    <div class="interests-container">
        <div class="interest-box" id="hackathon">
            <div class="interest-top">
                <img id="hackathon-gif" src="img/interests/hackathon.gif" class="bg-img">
            </div>
            <div class="interest-bottom">
                Organizing Hackathons
            </div>
        </div>

        <div class="interest-box" id="hardware">
            <div class="interest-top">
                <img id="hardware-gif" src="img/interests/nixie.gif" class="nixie-img">
            </div>
            <div class="interest-bottom">
                DIY Hardware
            </div>
        </div>

        <div class="interest-box" id="roadtrip">
            <div class="interest-top">
                <img id="roadtrip-gif" src="img/interests/roadtrip.gif" class="nixie-img">
            </div>
            <div class="interest-bottom">
                Road Trips
            </div>
        </div>
    </div>

    

</body>
</html>