<!-- What I know -->
    <div class="about-section">
        <div class="about-section-title">Here's what I know</div>
        <div class="subsection-container">
            <div class="subsection-row">
                <!-- Languages -->
                <div class="subsection-box">
                    <div class="subsection-title">Languages</div>
                    <div class="img-row">
                        <img src="img/icons/java.png" id="javaimg">
                        <img src="img/icons/c.png" id="cimg">
                        <img src="img/icons/cpp.png" id="cimg">
                        <img src="img/icons/csharp.png" id="csharpimg">
                    </div>
                    <div class="img-row">
                        <img src="img/icons/html.png" id="htmlimg">
                        <img src="img/icons/python.png" id="pythonimg">
                        <img src="img/icons/php.png" id="pythonimg">
                    </div>
                </div>

                <!-- Frameworks -->
                <div class="subsection-box">
                    <div class="subsection-title">Frameworks & Databases</div>
                    <div class="img-row">
                        <!--<img src="img/icons/spring.png" id="springimg">-->
                        <img src="img/icons/reactnative.png" id="reactimg">
                        <img src="img/icons/node.png" id="nodeimg">
                        <img src="img/icons/net-logo.png" id="netimg">
                        <img src="img/icons/bootstrap.png" id="bootstrapimg">
                    </div>
                    <div class="img-row">
                        <img src="img/icons/mysql.svg" id="mysqlimg">
                        <img src="img/icons/mongo.png" id="mongoimg">
                        <div class="blank"></div>
                        <div class="blank"></div>
                    </div>
                </div>
            </div>

            <div class="subsection-row">
                <!-- Hardware -->
                <div class="subsection-box">
                    <div class="subsection-title">Hardware</div>
                    <div class="img-row">
                        <img src="img/icons/embedded.png" id="mysqlimg">
                        <img src="img/icons/arduino.png" id="mysqlimg">  
                        <img src="img/icons/mbed.jpg" id="mbedimg"> 
                          
                    </div>
                    <div class="img-row">
                        <img src="img/icons/lora.jpg" id="loraimg">
                    </div>
                </div>

                <!-- Design -->
                <div class="subsection-box">
                    <div class="subsection-title">Cloud</div>
                    <div class="img-row">
                        <img src="img/icons/aws.png" id="awsimg">
                        <img src="img/icons/google.png" id="awsimg">
                        <img src="img/icons/azure.png" id="awsimg">
                    </div>
                </div>
            </div>

            <!-- Design -->
                <div class="subsection-box">
                    <div class="subsection-title">Cloud</div>
                    <div class="img-row">
                        <img src="img/icons/aws.png" id="awsimg">
                        <img src="img/icons/google.png" id="awsimg">
                        <img src="img/icons/azure.png" id="awsimg">
                    </div>
                </div>
        </div>
    </div>